<mat-toolbar color="primary">
  <!--
      <button mat-button (click)="sidenav.toggle()" aria-hidden="false" aria-label="Example icon-button with menu icon">
      la sidenav si apre e si chiude anche attraverso il semplice .toggle (attiva/disattiva)
  -->
  <button mat-button (click)="toggleForMenuClick()" aria-hidden="false" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 routerLink="/home">VirtualLab</h1>
  <span class="example-spacer"></span>
</mat-toolbar>

<mat-toolbar>
  <span>Applicazioni Internet</span>
</mat-toolbar>

<mat-sidenav-container class="example-container" style="margin-top: 7px; margin-right: 0px;">
  
  <mat-sidenav #sidenav mode="side" opened="true" position="start">
    <div class="container">
      <mat-nav-list>
        <mat-list-item>
          <a routerLink="/teacher/course/applicazioni-internet/students">Applicazioni Internet</a>
        </mat-list-item>
        <mat-list-item>
          Programmazione di Sistema
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <nav mat-tab-nav-bar>
      <a mat-tab-link label="Studenti"
                      *ngFor="let link of navLinks"
                      [routerLink]="link.path"
                      routerLinkActive #rla="routerLinkActive"
                      [active]="rla.isActive">
                      {{link.label}}
      </a>
    </nav>  
    
    
    
   <!-- my test --> 
   <!--
    <span (click)="toggleTitle($event)">{{title}}</span>
    <span>{{title2 | uppercase}}</span>

    <div *ngFor="let student of studentVector">{{student.name}}</div>

    <p>
      <input #yourname value="type your name here"> {{yourname.value}}
    </p>

    <input (keyup)="onKey($event)">
    <p>{{value}}</p>

    <input [(ngModel)]="name"> <br>
    <h1>your name is: {{name}}</h1>

    <ul>
      <li *ngFor="let student of studentVector">
        <p *ngIf="student.name.length >= 8; else otherBlock"> {{student.name}} true</p> 
        <ng-template #otherBlock>
          <p>{{student.name}} false</p>
        </ng-template>
      </li>
    </ul>
    -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>
